.landing {
  &__content {
    padding-left: @page-padding;
    padding-right: @page-padding;
    padding-top: calc(95px + 1rem);
  }

  &__card--large {
    background-color: @lemon-green;
    border-radius: @border-radius-base;
    padding: @padding-lg !important;
    text-align: center;

    h1, h2, h3, h4, h5, h6 {
      color: @black !important;
    }
  }

  &__card--small {
    background-color: @green300;
    border: 1px solid transparent;
    border-radius: @border-radius-base;
   
    padding: @padding-md !important;
    h1, h2, h3, h4, h5, h6 {
      color: @pale-white !important;
    }
  }
}
