.landing {
  &__content {
    padding-left: @page-padding;
    padding-right: @page-padding;
    padding-top: calc(95px + 1rem);
  }

  &__content-cta:hover {
    background-color: @white !important;
    color: @primary-color !important;
  }

  &__card--large {
    border-radius: @border-radius-base;
    margin-bottom: 10vh;
    padding: @padding-lg !important;
    text-align: center;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: @green500 !important;
    }
  }

  &__card--small {
    background-color: @pale-white;
    border: 1px solid @primary-color;
    border-radius: @border-radius-base;
    height: calc(50px + 3rem);
    padding: @padding-md !important;
    text-align: center;
    .anticon {
      color: @primary-color !important;
      font-size: 3rem;
      transition: color 0.5s;
    }
  
    @media screen and (max-width: @mobile-breakpoint) {
      height: calc(50px + 2rem);
      .anticon {
        font-size: 2rem;
      }
    }
  }
}
